<AuAlert @size='tiny' @skin={{if @skin @skin 'warning'}} class='au-u-margin-bottom-none' @closable={{@closable}}>
  <div class='au-u-flex au-u-flex--spaced au-u-flex--between'>
    <p class='au-u-flex au-u-medium au-u-1-5@medium au-u-flex--vertical-center'>
      Environment: {{@environmentName}}
    </p>
    <div class='au-u-flex au-u-flex--spaced-large au-u-flex--center'>
      {{#if (this.or @message (has-block "message"))}}
        <p class={{if this.showPackages 'au-u-3-5@medium' 'au-u-4-5@medium'}}>
          {{#if @message}}
            {{string-format @message}}
          {{else}}
            {{yield to="message"}}
          {{/if}}
        </p>
      {{/if}}
      <p class='au-u-flex au-u-flex--vertical-center'>
        {{@applicationName}}
        {{app-version versionOnly=true showExtended=true}}
      </p>
      {{#if this.showPackages}}
        <AuButton
          @skin='link-secondary'
          @icon={{this.InfoCircleIcon}}
          @iconAlignment='left'
          onclick={{this.toggleModal}}
        >
          Editor Package versions
        </AuButton>
        <PackagesOverview
          @showModal={{this.showModal}}
          @toggleModal={{this.toggleModal}}
          @packages={{this.packages}}
        />
      {{/if}}
    </div>
  </div>
</AuAlert>
