<AuAlert @size='tiny' @skin='warning' class='au-u-margin-bottom-none au-u-flex--row'>
  <div class='au-u-flex au-u-flex--column au-u-flex--spaced-tiny au-u-flex--start'>
    <p class='au-u-flex au-u-medium au-u-1-5@medium au-u-flex--vertical-center'>
      Environment: {{@environmentName}}
    </p>
    <div class='au-u-flex au-u-flex--column au-u-flex--spaced-tiny au-u-4-5@medium'>
      <p class='au-u-4-5@medium'>
        Dit is de <strong>{{get (mut this.environmentTitle)}}</strong> van het {{@applicationName}} met fictieve en testgegevens.
        De productieomgeving met de echte data vind je op 
        <a 
          rel="tag" title={{@applicationName}} 
          href={{@applicationUrl}}
        >
          {{@applicationUrl}}
        </a>. 
      </p>
      <p>
        {{@applicationName}}
        {{app-version versionOnly=true showExtended=true}}
      </p>
      {{#if this.showPackages}}
        <AuButton
          @skin='link-secondary'
          @icon='info-circle'
          @iconAlignment='left'
          onclick={{this.toggleModal}}
        >
          Editor Package versions
        </AuButton>
        <PackagesOverview
          @showModal={{this.showModal}}
          @toggleModal={{this.toggleModal}}
          @packages={{this.packages}}
        />
      {{/if}}
    </div>
  </div>
</AuAlert>
